wsdl/wsbeneficiarios.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ws_carga_beneficiarios/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ws_carga_beneficiarios" targetNamespace="http://www.example.org/ws_carga_beneficiarios/">
<wsdl:types>
<xsd:schema targetNamespace="http://www.example.org/ws_carga_beneficiarios/">
<xsd:element name="AltaBeneficiarioRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Credenciales" type="tns:Credencial"></xsd:element>
<xsd:element name="NumeroPoliza" type="xsd:string"/>
<xsd:element name="RutBeneficiario" type="xsd:string"/>
<xsd:element name="ApellidoPaterno" type="xsd:string"/>
<xsd:element name="ApellidoMaterno" type="xsd:string"/>
<xsd:element name="Nombres" type="xsd:string"/>
<xsd:element name="FechaNacimiento" type="xsd:date"/>
<xsd:element name="Sexo" type="xsd:string"/>
<xsd:element name="Relacion" type="xsd:int"/>
<xsd:element name="FechaIngreso" type="xsd:date"/>
<xsd:element name="FechaInicioVigencia" type="xsd:date"/>
<xsd:element name="FechaFinVigencia" type="xsd:date"/>
<xsd:element name="CodigoPlan" type="xsd:string"/>
<xsd:element name="RutTitular" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="AltaBeneficiarioResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Estado" type="xsd:int"/>
<xsd:element name="Mensaje" type="xsd:string"/>
<xsd:element name="CodigoTransaccion" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BajaBeneficiarioRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Credenciales" type="tns:Credencial"></xsd:element>
<xsd:element name="RutBeneficiario" type="xsd:string"></xsd:element>
<xsd:element name="NumeroPoliza" type="xsd:string"/>
<xsd:element name="CodigoPlan" type="xsd:string"/>
<xsd:element name="RutTitular" type="xsd:string"/>
<xsd:element name="FechaFinVigencia" type="xsd:date"></xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="BajaBeneficiarioResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Estado" type="xsd:int"/>
<xsd:element name="Mensaje" type="xsd:string"/>
<xsd:element name="CodigoTransaccion" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="Credencial">
<xsd:sequence>
<xsd:element name="CodigoEntidad" type="xsd:int"/>
<xsd:element name="RutUsuario" type="xsd:string"/>
<xsd:element name="Clave" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="AltaBeneficiarioRequest">
<wsdl:part element="tns:AltaBeneficiarioRequest" name="alta_beneficiarios_request"/>
</wsdl:message>
<wsdl:message name="AltaBeneficiarioResponse">
<wsdl:part element="tns:AltaBeneficiarioResponse" name="alta_beneficiarios_response"/>
</wsdl:message>
<wsdl:message name="BajaBeneficiarioRequest">
<wsdl:part name="baja_beneficiario_request" element="tns:BajaBeneficiarioRequest"/>
</wsdl:message>
<wsdl:message name="BajaBeneficiarioResponse">
<wsdl:part name="baja_beneficiario_response" element="tns:BajaBeneficiarioResponse"/>
</wsdl:message>
<wsdl:portType name="ws_carga_beneficiarios">
<wsdl:operation name="AltaBeneficiario">
<wsdl:input message="tns:AltaBeneficiarioRequest"/>
<wsdl:output message="tns:AltaBeneficiarioResponse"/>
</wsdl:operation>
<wsdl:operation name="BajaBeneficiario">
<wsdl:input message="tns:BajaBeneficiarioRequest"/>
<wsdl:output message="tns:BajaBeneficiarioResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ws_carga_beneficiariosSOAP" type="tns:ws_carga_beneficiarios">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="AltaBeneficiario">
<soap:operation soapAction="http://www.example.org/ws_carga_beneficiarios/AltaBeneficiario"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BajaBeneficiario">
<soap:operation soapAction="http://www.example.org/ws_carga_beneficiarios/BajaBeneficiario"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ws_carga_beneficiarios">
<wsdl:port binding="tns:ws_carga_beneficiariosSOAP" name="ws_carga_beneficiariosSOAP">
<soap:address location="http://10.100.32.177/WsBeneficiarios"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>