wsdl/wsdl_certificacion_cia_seg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wmImed_SrvCertificacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_INPUT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wmImed_SrvCertificacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wmImed_SrvCertificacionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wmImed_SrvCertificacionSoapIn">
    <wsdl:part name="parameters" element="tns:wmImed_SrvCertificacion" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvCertificacionSoapOut">
    <wsdl:part name="parameters" element="tns:wmImed_SrvCertificacionResponse" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvCertificacionHttpGetIn">
    <wsdl:part name="XML_INPUT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvCertificacionHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvCertificacionHttpPostIn">
    <wsdl:part name="XML_INPUT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvCertificacionHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="wsCertificacionSoap">
    <wsdl:operation name="wmImed_SrvCertificacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CDMSA: Certificacion Liquidacion</wsdl:documentation>
      <wsdl:input message="tns:wmImed_SrvCertificacionSoapIn" />
      <wsdl:output message="tns:wmImed_SrvCertificacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsCertificacionHttpGet">
    <wsdl:operation name="wmImed_SrvCertificacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CDMSA: Certificacion Liquidacion</wsdl:documentation>
      <wsdl:input message="tns:wmImed_SrvCertificacionHttpGetIn" />
      <wsdl:output message="tns:wmImed_SrvCertificacionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsCertificacionHttpPost">
    <wsdl:operation name="wmImed_SrvCertificacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CDMSA: Certificacion Liquidacion</wsdl:documentation>
      <wsdl:input message="tns:wmImed_SrvCertificacionHttpPostIn" />
      <wsdl:output message="tns:wmImed_SrvCertificacionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCertificacionSoap" type="tns:wsCertificacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wmImed_SrvCertificacion">
      <soap:operation soapAction="http://tempuri.org/wmImed_SrvCertificacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCertificacionSoap12" type="tns:wsCertificacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wmImed_SrvCertificacion">
      <soap12:operation soapAction="http://tempuri.org/wmImed_SrvCertificacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCertificacionHttpGet" type="tns:wsCertificacionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="wmImed_SrvCertificacion">
      <http:operation location="/wmImed_SrvCertificacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCertificacionHttpPost" type="tns:wsCertificacionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="wmImed_SrvCertificacion">
      <http:operation location="/wmImed_SrvCertificacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCertificacion">
    <wsdl:port name="wsCertificacionSoap" binding="tns:wsCertificacionSoap">
      <soap:address location="http://10.100.32.177/Certificacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
    <wsdl:port name="wsCertificacionSoap12" binding="tns:wsCertificacionSoap12">
      <soap12:address location="http://10.100.32.177/Certificacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
    <wsdl:port name="wsCertificacionHttpGet" binding="tns:wsCertificacionHttpGet">
      <http:address location="http://10.100.32.177/Certificacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
    <wsdl:port name="wsCertificacionHttpPost" binding="tns:wsCertificacionHttpPost">
      <http:address location="http://10.100.32.177/Certificacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
