wsdl/wsdl_conciliacion_cia_seg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wmImed_SrvConciliacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_INPUT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wmImed_SrvConciliacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wmImed_SrvConciliacionResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wmImed_SrvConciliacionSoapIn">
    <wsdl:part name="parameters" element="tns:wmImed_SrvConciliacion" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvConciliacionSoapOut">
    <wsdl:part name="parameters" element="tns:wmImed_SrvConciliacionResponse" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvConciliacionHttpGetIn">
    <wsdl:part name="XML_INPUT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvConciliacionHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvConciliacionHttpPostIn">
    <wsdl:part name="XML_INPUT" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wmImed_SrvConciliacionHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="wsConciliacionSoap">
    <wsdl:operation name="wmImed_SrvConciliacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CDMSA: Conciliacion Liquidacion</wsdl:documentation>
      <wsdl:input message="tns:wmImed_SrvConciliacionSoapIn" />
      <wsdl:output message="tns:wmImed_SrvConciliacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsConciliacionHttpGet">
    <wsdl:operation name="wmImed_SrvConciliacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CDMSA: Conciliacion Liquidacion</wsdl:documentation>
      <wsdl:input message="tns:wmImed_SrvConciliacionHttpGetIn" />
      <wsdl:output message="tns:wmImed_SrvConciliacionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsConciliacionHttpPost">
    <wsdl:operation name="wmImed_SrvConciliacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CDMSA: Conciliacion Liquidacion</wsdl:documentation>
      <wsdl:input message="tns:wmImed_SrvConciliacionHttpPostIn" />
      <wsdl:output message="tns:wmImed_SrvConciliacionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsConciliacionSoap" type="tns:wsConciliacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wmImed_SrvConciliacion">
      <soap:operation soapAction="http://tempuri.org/wmImed_SrvConciliacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConciliacionSoap12" type="tns:wsConciliacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wmImed_SrvConciliacion">
      <soap12:operation soapAction="http://tempuri.org/wmImed_SrvConciliacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConciliacionHttpGet" type="tns:wsConciliacionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="wmImed_SrvConciliacion">
      <http:operation location="/wmImed_SrvConciliacion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConciliacionHttpPost" type="tns:wsConciliacionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="wmImed_SrvConciliacion">
      <http:operation location="/wmImed_SrvConciliacion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsConciliacion">
    <wsdl:port name="wsConciliacionSoap" binding="tns:wsConciliacionSoap">
      <soap:address location="http://10.100.32.177/Conciliacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
    <wsdl:port name="wsConciliacionSoap12" binding="tns:wsConciliacionSoap12">
      <soap12:address location="http://10.100.32.177/Conciliacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
    <wsdl:port name="wsConciliacionHttpGet" binding="tns:wsConciliacionHttpGet">
      <http:address location="http://10.100.32.177/Conciliacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
    <wsdl:port name="wsConciliacionHttpPost" binding="tns:wsConciliacionHttpPost">
      <http:address location="http://10.100.32.177/Conciliacion/cia_seg_$$LOCATION$$" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
